.news_jumbo {
    background-color: #f2dfcd;
}

.weather_jumbo {
    /*background-image: url(<%=@weather_background%>);*/
    background-size: cover;
    /*background-color: #415eff;*/
}

.news_link {
    background-color: #415eff;
    border-color: #415eff;
}

.container_width {
    max-width: 1700px
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bottom_news {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.page_heading {
    font-family: 'Playfair Display', serif;
    text-align: center; 
    font-size: 60px;
    padding-top:40px; 
    padding-bottom: 20px;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.heading_sm {
    font-family: 'Playfair Display', serif;
}

.tagline_sm {
    font-size: 20px;
}

.card-text {
    font-size: 20px;
}

.days_today {
    font-family: 'Noto Serif', serif;
}

.days {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
}

.card {
    border:0px;
    background-color: #f9ead4;
}